# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MOPE.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Carambula\Desktop\Study\TEMP\MOPE\.idea\.idea.MOPE\.idea/dataSources/
/dataSources.local.xml
