# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Lab1.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anvat\RiderProjects\MOPE\Lab1\.idea\.idea.Lab1.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
